@font-face {
  font-family: 'Sero Pro';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Sera Pro'),
       url('#{$asset_url}/fonts/SeroPro-LightItalic.otf') format('otf'),
       url('#{$asset_url}/fonts/SeroPro-Light.woff') format('woff'),
}
