footer {
  background-color: $color-hunter-blue;
  color: $color-hunter-white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: $color-hunter-white;
  a {
    color: inherit;
  }

  & > * {
    padding: 32px 0;
  }

  .footer__menu {
    background-color: $color-hunter-blue-8;
  }

  .footer__credits {
    text-align: center;
  }

  .footer__search {

    .search {
      margin: 0 auto;
      padding: 0 1rem;
      text-align: center;
    }

    .search__input {
      background-color: $color-hunter-white;
      color: $color-hunter-gray-9;
      height: 24px;
      border-width: 0;
      border-radius: 12px;
      font: 1em $font-family;
      padding: .5em;
      text-align: center;
    }

    .search button[type="submit"] {
      display: none;
    }

    ::-webkit-input-placeholder {
      color: $muted-text-color;
    }
    ::-moz-placeholder {
      color: $muted-text-color;
    }
    :-ms-input-placeholder {
      color: $muted-text-color;
    }
    :-moz-placeholder {
      color: $muted-text-color;
    }
  }
}
