.site-navigation {
  padding: 0 1rem;
  &:hover,
  &:focus-within {
    a {
      opacity: .7;
    }
  }

  &.appbar {
    font-weight: bold;
    text-transform: uppercase;
    background-color: $color-hunter-blue;
    padding: 1em;
    position: relative;
    margin-left: 30px;
    border-left: 4px solid $color-hunter-white;
    a {
      color: $color-hunter-white;

      &.site-navigation__brand {
        display: flex;
        align-items: center;
        span {
          margin-top: 1px;
          padding-left: 8px;
          line-height: 2em;
        }
        .logo {
          color: $color-hunter-white;
          font-size: 2em;
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      background-color: $color-hunter-light-blue;
      left: 0;
      width: 30px;
      left: -34px;
      top: 0;
      bottom: 0;
      z-index: 1;
    }

    ul {
      justify-content: flex-start;
    }
  }
}

.site-navigation ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.site-navigation li {
  list-style: none;
  font-size: .875em;
  font-variant: small-caps;
  margin: 0;
}

.site-navigation a {
  display: block;
  padding: .25em .5em;
  text-decoration: none;
  transition: opacity .125s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1;
  }
}
