.post-list {
  margin: 1em 0;
  list-style: none;
  &:hover,

  h1, h2, h3 {
    color: $color-hunter-gray-9;
    text-transform: unset;
  }
}

.post-list li {
  margin-bottom: 1em;
}

.post-link {
  color: $text-color;
  display: grid;
  grid-template-areas:
    'post-date'
    'post-link__heading'
    'post-link__subheading'
    'post-link__excerpt';
  grid-template-columns: auto 1;
  grid-template-rows: auto;

  text-decoration: none;
  padding: .25em;
  transition: opacity .125s ease-in-out;
  &:hover,
  &:focus {
    h1, h2, h3, .post-date {
      color: $color-hunter-blue;
    }
  }
  @media (min-width: $on-tablet) {
    grid-template-areas:
      'post-link__heading post-date'
      'post-link__subheading post-link__subheading'
      'post-link__excerpt post-link__excerpt';
    grid-template-columns: auto 1fr;
    grid-column-gap: 4em;

    .post-date {
      margin-left: auto;
    }

    .post-link__subheading {
      margin-left: 8px;
    }
  }
}

.post-date {
  grid-area: post-date;
}

.post-link__subheading {
  grid-area: post-link__subheading;

  h2 {
    font-size: 0.8em;
    margin-bottom: 0;
    margin-top: -4px;
    text-align: left;
  }
}
.post-link__heading {
  grid-area: post-link__heading;
  display: block;
  @media (min-width: $on-tablet) {
    padding: .25em 0;
  }
  h1 {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.post-link__title + .post-link__excerpt {
  grid-area: post-link__excerpt;
  opacity: .6;
}

.post-pagination {
  margin-top: 4rem;
  font-size: .75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1em 0;
  }
  &:hover,
  &:focus-within {
    a {
      opacity: .6;
    }
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .125s ease-in-out;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
