---
layout: default
---

{% if site.data.menu %}
  {% include menu.html class="appbar" %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  {% if page.title != "" %}
    {% if page.subtitle != "" %}
      <h1 class="post-title post-title--with-subtitle p-name" itemprop="name headline">
        {{ page.title }}
      </h1>
      <h2 class="post-subtitle divided ">
        {{ page.subtitle }}
      </h2>
    {% else %}
      <h1 class="post-title divided p-name" itemprop="name headline">
        {{ page.title }}
      </h1>
    {% endif %}
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}

</article>
